/* 
테두리 
border-style
border-width
border-color
*/

.box {
    width: 300px;
    height: 300px;

    border-style: dotted solid; /* 경계선 스타일 dotted 점선 */
    border-width: 10px; /* 경계선 두깨 10px*/
    border-color: red; /* 경계선 red색상 */

    background-color: rgb(175, 207, 233);
}