/*
폰트/텍스트 관련 속성

font(shorthand)
*/

.text {
    color: red;
    /* font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
                    ↓ font-size와 font-family를 따로 사용할 필요없이 font속에 둘다 사용할 수 있음*/
    font: italic 20px 'Times New Roman', Times, serif ;
}