/* 
color

3.CSS <color> 자료형은 sRGB색 공간의 한 색을 표현하며, 추가로 알파채널 투명도 값도 가질 수 있어
자신이 가리키는 색상과 배경이 어떻게 합성되어야 하는지 지정할 수 있습니다.

<color>는 다음 방법으로 정의할 수 있습니다.
. 키워드 사용(blue, transparent 등)
. RGB 3차원 좌표계 사용(#,+,16진수 표기법 또는 rgb(), rgba()의 함수형 표기법)
. HSL 실린더형 좌표계 사용(hsl(), hsla()의 함수형 표기법)
*/

div {
    background-color: aliceblue; 
    /* background-color를 치면 자동적으로 색상이 연결되어 나오는데 이것을 16진수 표기법이라고 한다.
    16진수 표기법은 0이 제일 작고 16이 가장 큰 것
    0이 가장 어둡고 제일 높은 16에 가까워 질때 제일 밝은색상이 된다. */
    background-color: rgb(255, 255, 255);
}

.HEX {
    width: 100px;
    height: 100px;
    background-color: rgb(117, 20, 20);
}

.RGB {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 255, 1); 
    /* rgba를 이용하면 색상의 투명도까지 사용할 수 있음*/ /* 순서: (r,g,b,a)*/
}