div { /* inline-block은 inline요소를 block요소로 나타날때 사용함 */
    display: none; /* 안보이게 감추는 것*/
    background-color: black;
}
.div2 {
    background-color: blue;
}
.div3 {
    background-color: green;
}
.div4 {
    display: inline;
    background-color: yellow;
}
.div5 {
    display: inline;
    background-color: brown;
}
.div6 {
    display: inline;
    background-color: magenta;
}
.div7 {
    background-color: aqua;
    display: flex;
}
.div8 { 
    background-color: blueviolet;
    display: flex;
}
.div9 {
    background-color: tomato;
    display: flex;
}