/* 
단위와 값
    상대길이 - %
*/

body {
    margin: 0;
}

.parent {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.child {
    width: 50%; /* %는 부모의 값에 상대적으로 계산되게 된다. 부모의 세로의 50%를 차지하게 된다. */
    height: 30%; /* 부모의 값에 높이 30%를 차지하게 계산*/
    background-color: indianred;
}