/* 2.opacity */
/* opacity 3.CSS 속성은 요소의 불투명도를 설정합니다.
    불투명도는 요소 뒤쪽 콘텐츠가 숨겨지는 정도로, 투명도의 반대입니다. */
    /* 투명도에서 투명해져서 뒤에 것이 보이는 것을 0.0 이고 가려져서 진해질때 1 */

/* 값 */
/* <alpha-value>
    채널의 불투명도(알파 채널의 값)를 나타내는 0.0 이상 1.0 이하의 <number>, 또는 
    0% 이상 100% 이하의 <percentage> 범위 밖의 숫자는 구문 상 유효하지만, 실제 적용 시에는
    범위에 맞춰 나머지 값은 버려집니다. */

    /* 투명도 */
    /*
    값                              뜻 
    0                               요소가 완전히 투명해 보이지 않음 
    0과 1사이의 아무 <number>        요소가 반투명해 뒤의 내용을 볼 수 있음
    1(기본값)                        요소가 불투명함 
    */


/* opacity */

.floating-box {
    width: 150px;
    height: 150px;

    position: fixed;
    top: 10px;
    left: 10px;

    background-color: cadetblue; 
    /* 지금 안녕하세요라는 박스가 뒤의 lorem을 덮고있다. */
    /* 이때는 박스가 불투명도가 없기때문에 1인 상태이다. */
    opacity: 0.5; /* 박스의 불투명도는 반투명 상태이다. */
    /* background-color: rgba(red, green, blue, alpha); 
    이때의 alpha 값으로 박스를 불투명도를 지정할수있다
    
    단, 차이가 있다,,,,,
    opacity는 박스의 안에 폰트의 글자에도 영향을 미친다.
    background-color: rgba는 박스에만 영향을 미치고 안에 글자에는 영향을 미치지 않는다. 
    */
}