/* 
우선순위 (CSS의 우선순위)

1. 선언된곳 - 선언된 곳에 따라서 우선순위가 갈린다.

2. 명시도 (적용범위가 적을수록 명시도가 높은 것!) - 적용범위가 적을수록 명시도가 높다,,, 명시도는 뚜렷하게 보여진다고 생각하면된다.
    p, div를 선택해서 css를 적용하면 넓다 div p다 적용되서 하지만 id를 적용해서 적용해지면 명시도가 높다

3. 코드 위치 - 좀더 나중에 선언된 property가 덮어씌워지게 된다.
*/
#box {
    color: blue;
}

/* BOX글자는 파란색이 적용된다 이유는 HTML에서 style로 red 색을 적용해줬는데 box color는 blue css에서 적용해줘서
    red 색상이 먼저 쌓이고 그 다음 blue색상이 쌓이는 형태로 마지막에 쌓인 blue색상이 추출이 되게 된다. */

.class-box {
    color: magenta;
}

div {
    color: purple !important;
}

/* .class-box가 나중에 지정되었지만 결론적으로 우선순위는 id가 높아서 색상은 변하지 않고 blue 색상으로 유지된다. */
/* 단, id의 중요도가 높고 우선순위가 높아도 inline style이 id보다 더 우선순위가 높아서 색상 지정시 인라인스타일을 먼저 적용하게 된다. */
/* 우선순위에서 제일 높은 것은 !important 제일 스타일 적용이라서 사용을 지양해야함 */