/* animation */
/* animation은 CSS 속성은 다수의 스타일을 전환하는 애니메이션을 적용합니다 */

/* animation 기능들
    animation-name: none
    animation-duration: 0s
    animation-timing-function: ease;
    animation-delay: 0s
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fil-mode: none;
    animation-play-state: running 
*/